extends layout

block content
  .container-fluid
    .row
      .col-xs-6
        .rules
          .title.rules-title
            p.h2.text-center Setting

          .rules-content
            .rules-row
              label(for='string-limit') максимальна кількість символів
                input(type='text', id='space-value')
      .col-xs-6
        .editor
          .title.editor-title
            p.h2.text-center  code mirror
          .editor-content
            textarea#code-sample function(e){return e}
